<html lang="en" class=" is-copy-enabled">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">


    <title>masonfmatthews (Mason F. Matthews)</title>


    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">

    <link href="https://assets-cdn.github.com/assets/github/index-ab5a4b6368c51838f7b3c1651512096c6332db5873f2e0247cbae17e7d5c839d.css" media="all" rel="stylesheet" />
    <link href="https://assets-cdn.github.com/assets/github2/index-a87ecbd5f0c254ab2c4be9ab43acc1638445cc2b39e5b21a820e38165084eb12.css" media="all" rel="stylesheet" />



  </head>


  <body class="logged_in  env-production macintosh  page-profile">

<%= @username %>






    

<div class="container">
  <div class="columns profilecols">
    <div class="column one-fourth vcard" itemscope itemtype="http://schema.org/Person">
        <a href="https://avatars1.githubusercontent.com/u/5350842?v=3&amp;s=400" aria-hidden="true" class="vcard-avatar" itemprop="image"><img alt="" class="avatar" data-user="5350842" height="230" src="https://avatars3.githubusercontent.com/u/5350842?v=3&amp;s=460" width="230" /></a>

      <h1 class="vcard-names">
  <span class="vcard-fullname" itemprop="name">Mason F. Matthews</span>
  <span class="vcard-username" itemprop="additionalName">masonfmatthews</span>
</h1>



<ul class="vcard-details">
      <li class="vcard-detail" itemprop="worksFor" title="The Iron Yard"><span class="octicon octicon-organization"></span>The Iron Yard</li>

  <li class="vcard-detail" itemprop="homeLocation" title="Durham, NC"><span class="octicon octicon-location"></span>Durham, NC</li>

  <li class="vcard-detail"><span class="octicon octicon-clock"></span><span class="join-label">Joined on </span><time class="join-date" datetime="2013-08-31T02:31:11Z" day="numeric" is="local-time" month="short" year="numeric">Aug 30, 2013</time></li>
</ul>


      <div class="vcard-stats">
        <a class="vcard-stat" href="/masonfmatthews/followers">
          <strong class="vcard-stat-count">24</strong>
          <span class="text-muted">Followers</span>
        </a>
        <a class="vcard-stat" href="/stars/masonfmatthews">
          <strong class="vcard-stat-count">1</strong>
          <span class="text-muted">Starred</span>
        </a>
        <a class="vcard-stat" href="/masonfmatthews/following">
          <strong class="vcard-stat-count">6</strong>
          <span class="text-muted">Following</span>
        </a>
      </div>

        <div class="clearfix">
          <h3>Organizations</h3>
              <a href="/theironyard" aria-label="theironyard" class="tooltipped tooltipped-n avatar-group-item" itemprop="follows"><img alt="@theironyard" class="avatar" data-user="2248433" height="42" src="https://avatars3.githubusercontent.com/u/2248433?v=3&amp;s=84" width="42" /></a>
        </div>
    </div>

    <div class="column three-fourths">


      <div class="tabnav">
          <div class="right">
                <span class="user-following-container js-toggler-container js-social-container on">

    <span class="follow">
      <form accept-charset="UTF-8" action="/users/follow?target=masonfmatthews" class="js-toggler-form js-follow-button" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="gBPHWwynL31IWuu/TPvXMCNikN6VPhlUpUFA4ptrOoX1m8bYsZPvmYD62E4ijlFVRwU78LfzBZl5b71TVr9pQg==" /></div>
        <button
          class="btn btn-sm btn-primary js-toggler-target"
          aria-label="Follow this person" title="Follow masonfmatthews">
          <span class="octicon octicon-person"></span>
          Follow
        </button>
</form>    </span>

    <span class="unfollow">
      <form accept-charset="UTF-8" action="/users/unfollow?target=masonfmatthews" class="js-toggler-form" data-remote="true" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="5U3xZ4M+fzGDv33HJoJ1DB3J1JEUYLoxDgXiR5O8G8G/2JuoyNJn1d+XIDL2Tgl9AYCL+ftwiNkfIJSUaapyvw==" /></div>
        <button
          class="btn btn-sm js-toggler-target js-unfollow-button"
          aria-label="Unfollow this person" title="Unfollow masonfmatthews">
          <span class="octicon octicon-person"></span>
          Unfollow
        </button>
</form>    </span>
  </span>


                <div class="select-menu js-menu-container js-select-menu user-actions">
                  <span class="btn btn-sm select-menu-button icon-only js-menu-target" role="button" aria-haspopup="true" aria-label="Report or block user">
                    <span class="octicon octicon-stop"></span>
                  </span>
                  <div class="select-menu-modal-holder js-menu-content js-navigation-container" aria-hidden="true">
                    <div class="select-menu-modal">
                      <div class="select-menu-header">
                        <span class="select-menu-title">User actions</span>
                        <span class="octicon octicon-x js-menu-close" role="button" aria-label="Close"></span>
                      </div>
                      <div class="select-menu-list">
                        <div class="select-menu-item js-navigation-item">
                          <form accept-charset="UTF-8" action="/account/ignore_user/masonfmatthews" class="inline-form js-navigation-open" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="Sq1hLZ+ISMl/nh6bRpuj828YSkLx15Z0z/RzQh6kehzoynscMOru2ZroVxRSO4cnlt23qiG7uyR1RLeDOzWIjg==" /></div>
                            <button type="submit" class="btn-link btn-block-user select-menu-item-text">
                                Block User
                            </button>
</form>                        </div>
                        <div class="select-menu-item js-navigation-item">
                          <a href="/contact?report=masonfmatthews" class="select-menu-item-text js-navigation-open">Report Abuse</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>

        <nav class="tabnav-tabs" data-pjax role="navigation">
          <a href="/masonfmatthews" class="tabnav-tab ">
            <span class="octicon octicon-diff-added"></span>
            Contributions
          </a>
          <a href="/masonfmatthews?tab=repositories" class="tabnav-tab selected">
            <span class="octicon octicon-repo"></span>
            Repositories
          </a>
          <a href="/masonfmatthews?tab=activity" class="tabnav-tab ">
            <span class="octicon octicon-rss"></span>
            Public activity
          </a>
        </nav>
      </div>

      <div class="tab-content js-repo-filter">

  <div class="repo-tab">
    <div class="filter-bar">
      <ul class="repo_filterer">
          <li><a href="#" class="repo_filter js-repo-filter-tab" data-filter=".mirror">Mirrors</a></li>
        <li><a href="#" class="repo_filter js-repo-filter-tab" data-filter=".fork">Forks</a></li>
        <li><a href="#" class="repo_filter js-repo-filter-tab" data-filter=".source">Sources</a></li>
        <li class="all_repos"><a href="#" class="repo_filter js-repo-filter-tab filter-selected" data-filter=".public, .private">All</a></li>
      </ul>

      <form accept-charset="UTF-8" action="/search" class="repo-search" method="get" role="search"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
        <input type="hidden" name="user" value="masonfmatthews">
        <input type="text" id="your-repos-filter" name="q" class="filter_input js-filterable-field" placeholder="Find a repository&hellip;" tabindex="2">
        <input type="submit" value="Search" class="btn">
</form>    </div>

      <ul class="repo-list js-repo-list" data-filterable-for="your-repos-filter" data-filterable-type="substring">
    <li class="repo-list-item public source">
  <div class="repo-list-stats">
      Ruby
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/rails_assignments/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      3
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/rails_assignments/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      7
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/rails_assignments">
      rails_assignments</a>
  </h3>


    <p class="repo-list-description">
      Assignments for the Rails course at The Iron Yard's Durham Campus
    </p>

  <p class="repo-list-meta">
      Updated <time datetime="2015-06-02T14:48:37Z" is="relative-time">Jun 2, 2015</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/rails_assignments/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public source">
  <div class="repo-list-stats">
      Ruby
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/api_experiments/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/api_experiments/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/api_experiments">
      api_experiments</a>
  </h3>



  <p class="repo-list-meta">
      Updated <time datetime="2015-05-27T20:56:38Z" is="relative-time">May 27, 2015</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/api_experiments/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public source">
  <div class="repo-list-stats">
      Ruby
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/mental_mapper/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/mental_mapper/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/mental_mapper">
      mental_mapper</a>
  </h3>



  <p class="repo-list-meta">
      Updated <time datetime="2015-05-01T13:41:10Z" is="relative-time">May 1, 2015</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/mental_mapper/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public source">
  <div class="repo-list-stats">
      Ruby
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/ar_experiments/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/ar_experiments/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/ar_experiments">
      ar_experiments</a>
  </h3>



  <p class="repo-list-meta">
      Updated <time datetime="2015-04-22T16:07:23Z" is="relative-time">Apr 22, 2015</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/ar_experiments/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public source">
  <div class="repo-list-stats">
      HTML
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/d3_experiments/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/d3_experiments/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/d3_experiments">
      d3_experiments</a>
  </h3>



  <p class="repo-list-meta">
      Updated <time datetime="2015-04-02T17:44:54Z" is="relative-time">Apr 2, 2015</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/d3_experiments/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public source">
  <div class="repo-list-stats">
      Ruby
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/coursyl/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/coursyl/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      5
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/coursyl">
      coursyl</a>
  </h3>



  <p class="repo-list-meta">
      Updated <time datetime="2014-10-09T01:12:27Z" is="relative-time">Oct 9, 2014</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/coursyl/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public source">
  <div class="repo-list-stats">
      Ruby
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/appliance_detection/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/appliance_detection/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/appliance_detection">
      appliance_detection</a>
  </h3>



  <p class="repo-list-meta">
      Updated <time datetime="2014-09-15T13:56:11Z" is="relative-time">Sep 15, 2014</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/appliance_detection/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public source">
  <div class="repo-list-stats">
      Ruby
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/distyll/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/distyll/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/distyll">
      distyll</a>
  </h3>


    <p class="repo-list-description">
      Massive Relational Database Distiller
    </p>

  <p class="repo-list-meta">
      Updated <time datetime="2014-06-20T21:12:28Z" is="relative-time">Jun 20, 2014</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/distyll/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public source">
  <div class="repo-list-stats">
      Java
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/csprinciples/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/csprinciples/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/csprinciples">
      csprinciples</a>
  </h3>



  <p class="repo-list-meta">
      Updated <time datetime="2014-06-06T16:00:09Z" is="relative-time">Jun 6, 2014</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/csprinciples/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>
<li class="repo-list-item public fork">
  <div class="repo-list-stats">
      JavaScript
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/rubeque/stargazers" aria-label="Stargazers">
      <span class="octicon octicon-star"></span>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/masonfmatthews/rubeque/network"  aria-label="Forks">
      <span class="octicon octicon-git-branch"></span>
      23
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/masonfmatthews/rubeque">
      rubeque</a>
  </h3>

    <p class="repo-list-info">
      <span class="octicon octicon-repo-forked"></span>
      forked from <a href="/SciMed/rubeque">SciMed/rubeque</a>
    </p>

    <p class="repo-list-description">
      Competitive learning site for ruby.
    </p>

  <p class="repo-list-meta">
      Updated <time datetime="2014-02-04T13:43:15Z" is="relative-time">Feb 4, 2014</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/masonfmatthews/rubeque/graphs/participation?h=80&amp;w=640"></poll-include-fragment>
  </div>
</li>


</ul>

  </div>

      </div>
    </div>

  </div>
</div>

          </div>
          <div class="modal-backdrop"></div>
        </div>
    </div><!-- /.wrapper -->

      <div class="container">
  <div class="site-footer" role="contentinfo">
    <ul class="site-footer-links right">
        <li><a href="https://status.github.com/" data-ga-click="Footer, go to status, text:status">Status</a></li>
      <li><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">API</a></li>
      <li><a href="https://training.github.com" data-ga-click="Footer, go to training, text:training">Training</a></li>
      <li><a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Shop</a></li>
        <li><a href="https://github.com/blog" data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
        <li><a href="https://github.com/about" data-ga-click="Footer, go to about, text:about">About</a></li>

    </ul>

    <a href="https://github.com" aria-label="Homepage">
      <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
</a>
    <ul class="site-footer-links">
      <li>&copy; 2015 <span title="0.04698s from github-fe124-cp1-prd.iad.github.net">GitHub</span>, Inc.</li>
        <li><a href="https://github.com/site/terms" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
        <li><a href="https://github.com/site/privacy" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
        <li><a href="https://github.com/security" data-ga-click="Footer, go to security, text:security">Security</a></li>
        <li><a href="https://github.com/contact" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
    </ul>
  </div>
</div>


    <div class="fullscreen-overlay js-fullscreen-overlay" id="fullscreen_overlay">
  <div class="fullscreen-container js-suggester-container">
    <div class="textarea-wrap">
      <textarea name="fullscreen-contents" id="fullscreen-contents" class="fullscreen-contents js-fullscreen-contents" placeholder=""></textarea>
      <div class="suggester-container">
        <div class="suggester fullscreen-suggester js-suggester js-navigation-container"></div>
      </div>
    </div>
  </div>
  <div class="fullscreen-sidebar">
    <a href="#" class="exit-fullscreen js-exit-fullscreen tooltipped tooltipped-w" aria-label="Exit Zen Mode">
      <span class="mega-octicon octicon-screen-normal"></span>
    </a>
    <a href="#" class="theme-switcher js-theme-switcher tooltipped tooltipped-w"
      aria-label="Switch themes">
      <span class="octicon octicon-color-mode"></span>
    </a>
  </div>
</div>





    <div id="ajax-error-message" class="flash flash-error">
      <span class="octicon octicon-alert"></span>
      <a href="#" class="octicon octicon-x flash-close js-ajax-error-dismiss" aria-label="Dismiss error"></a>
      Something went wrong with that request. Please try again.
    </div>


      <script crossorigin="anonymous" src="https://assets-cdn.github.com/assets/frameworks-447ce66a36506ebddc8e84b4e32a77f6062f3d3482e77dd21a77a01f0643ad98.js"></script>
      <script async="async" crossorigin="anonymous" src="https://assets-cdn.github.com/assets/github/index-83be60956d0d00076a726f0864b49916aae8e7bc6ee140798791be0b6644d661.js"></script>


  </body>
</html>
